@import url('https://fonts.googleapis.com/css2?family=Krona+One');
@import url("https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: radial-gradient(circle at top right,rgba(23,33,94,.9) 0,#f2b04f 25%); */
  background: #06232A;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mybutton {
  color: white !important;
  background-color: #43a5f3 !important;
  box-shadow: none !important;
}

.mybutton:hover {
  color:rgb(119, 6, 122) !important;
  background-color: #52a1e2 !important;
}

@media (max-width: 765px) {
  .mybutton {
    color: white !important;
    background-color: #43a5f3 !important;
    box-shadow: none !important;
  }
}

.wrapper {
  border-radius: 0px !important;
  border: 2px solid #b92be9;
  box-shadow: none !important;
}

.title {
  font-family: 'Krona One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 55px;
  margin-bottom: 30px;

  text-align: center;
  letter-spacing: 0.0703846px;

  margin: 50px auto;

  color: #FFFFFF;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  /* position: absolute; */
  width: 100%;
  height: 70px;

  background: #081B20;

  font-family: 'Krona One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 55px;
  /* identical to box height, or 183% */

  text-align: center;
  letter-spacing: 0.0703846px;

  color: #FFFFFF;

  margin-top: 20px;
}

@media (max-width: 765px) {
  .dashboard {
    font-size: 22px;
  }
}

.main-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 56px;
  gap: 30px;
  background-color: #123F49;

  font-family: 'Krona One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 40px;
}

@media (max-width: 765px) {
  .main-board {
    font-size: 15px;
  }
}

.input-box {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 40px 10px 20px;
  gap: 10px;

  width: 100%;
  background: transparent;
  border: 1px solid #C5AC70 !important;
  border: none;
  color: white;
}

.main-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  width: 100%;
  border: none;

  color: white;
  background: #C5AC70;
}

.main-button:hover {
  background: #43a5f3;
  color: rgba(0, 0, 0, 0.87);
}

.second-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  width: 90%;
  background: #C5AC70;

  font-family: 'Krona One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 55px;

  text-align: center;
  letter-spacing: 0.0703846px;

  color: #FFFFFF;
  margin: 20px 0;
}

.second-board {
  text-align: -webkit-center;
  margin: 50px 0;
}

/* .main-title {
  font-weight: bold;
  font-size: 80px;
  color: #c0c602;
  margin-bottom: 20px;
  margin-left: 10px;
  font-family: monospace;
  text-align: center;
} 
*/

.logo {
  width: 80px;
}

@media only screen and (max-width: 767px) {
  .logo {
    display: none;
  }

  .title {
    font-size: 15px;
    line-height: 30px;
  }

  .main-board {
    padding: 20px 10px;
  }
}

@media (max-width: 765px) {
  
}

.copyIcon {
  margin-right: 15px;
}

.copyIcon:hover {
  cursor: pointer;
}

.logoTitle {
  width: 80%;
  margin-bottom: 30px;
}